.Login-Form,
.SignUp-Form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://images.unsplash.com/photo-1449824913935-59a10b8d2000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 600ms ease-in-out;
  form {
    background: $primary;
    color: $light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 30vw;
    h1 {
      font-size: 3rem;
      margin: 3vh 0;
    }
    .uid,
    .password,
    .email,
    .username,
    .passCheck {
      display: flex;
      flex-direction: column;
      margin: 1vh 0;
    }
    input {
      background: none;
      border: none;
      border-bottom: $dark 2px solid;
      height: 3vh;
    }
    button {
      background: $light;
      border: none;
      height: 5vh;
      width: 5vw;
      border-radius: 8px;
      color: $dark;
      font-weight: bold;
    }
    a {
      width: 6vw;
      align-self: center;
      width: 50%;
      margin-top: 3vh;
      font-weight: 400;
    }
  }
}
