#modal {
  background: $secondary;
  color: $primary;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  input {
    color: white;
    margin: 0.5vh 0.5vw;
    &::placeholder {
      opacity: 1;
      color: white;
    }
  }
}
#modal.visible {
  display: flex;
}
.action {
  height: 2vh;
  width: 50%;
  background: $tertiary;
  color: $secondary;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 2vh;
  text-align: center;
}
