#navbar {
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  color: $secondary;
  .logo {
    height: 4vh;
    width: auto;
    border-radius: 60%;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      margin-left: 1vw;
      height: 3vh;
      border-radius: 2px;
      border: none;
      border-bottom: 3px $secondary;
    }
  }
  button {
    margin: 0 1vw;
    &:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      img {
        margin: 0 0.5vw;
      }
    }
  }
  .mid {
    display: flex;
    width: 100%;
    margin-left: auto;
    justify-content: right;
    flex: 2;
    button {
      color: $secondary;
    }
  }
  .right {
    border-left: $secondary 1px solid;
    display: flex;
  }
}
.pfp {
  height: 5vh;
  width: 5vh;
  border-radius: 60%;
}
.ico {
  height: 3vh;
  width: 3vh;
  stroke: $secondary;
}
.theme-ico {
  height: 3vh;
  width: 3vh;
  fill: transparent;
  stroke: $secondary;
}
