@import url("http://fonts.cdnfonts.com/css/kollektif");
$light: #f8fafc;
$dark: #0f172a;
$dark100: #2a4076;
$primary: #ff5733;
:root {
  font-family: "Kollektif", sans-serif;
  font-size: 16px;
  background: $light;
  color: $dark;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 300ms ease-in-out;
}
button {
  background: transparent;
  border: none;
}
body {
  display: flex;
  min-height: 100vh;
  width: 95vw;
  padding: 0 2.5vw;
}
a {
  color: $light;
  text-decoration: none;
}
@import "./components/LoginSignUp";
@import "./components/Landing";
.logSign-board {
  a {
    color: $dark;
  }
}
#navbar {
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  button {
    margin: 0 1vw;
  }
  .mid {
    display: flex;
    width: 100%;
    margin-left: auto;
    justify-content: right;
    flex: 2;
  }
  .right {
    border-left: $dark 1px solid;
    display: flex;
    align-items: center;
  }
}
.theme-ico {
  height: 3vh;
  width: 3vh;
}
