@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;1,300;1,400&display=swap");
$primary: #171717;
$secondary: #efefef;
$tertiary: #06b6d4;

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: $tertiary;
  color: $primary;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 300ms ease-in-out;
}
button {
  background: transparent;
  border: none;
}
body {
  display: flex;
  min-height: 100vh;
  width: 95vw;
  padding: 0 2.5vw;
}
a {
  color: $primary;
  text-decoration: none;
}
@import "./components/LoginSignUp";
@import "./components/Landing";
@import "./components/navbar";
@import "./components/userPage";
@import "./components/modal";
.logSign-board {
  a {
    color: $primary;
  }
}
.warn {
  background: red;
  color: white;
  height: 5vh;
  width: 5vw;
}
